body{
background-color: rgb(251, 232, 243);

}
.d-flex-align-items-center{
  display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 40px;
padding-bottom: 20px;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}
.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 300;
  font-style: italic;
}
.btn btn-danger{
  background-color:  rgb(255, 204, 233);
  color: black;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
.btn btn-danger:hover {
  background-color:  rgb(255, 214, 255);
  color: white;
}
.qty-btn {
   width: 35px; 
  }
.cart-img {
   width: 100px;
    height: 100px; 
    object-fit: cover; 
    border-radius: 8px; 
  }
.kartochki {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;

}
.quantity-selector {
  display: flex;
  align-items: center;
  gap: 5px;
}
.quantity-selector input {
  width: 40px;
  text-align: center;
  /* Убираем стрелочки браузера */
  appearance: textfield;
}
.quantity-selector input::-webkit-outer-spin-button,
.quantity-selector input::-webkit-inner-spin-button {
  display: none;
}
.quantity-selector button {
  width: 30px;
  cursor: pointer;
}

