.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
.diva{
  display: flex;
  flex-direction: row;
  gap: 7px;

}
h6{
  height: 30px;
}
.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 300;
  font-style: italic;
}
h5 {
  font-family: "Noto Sans Meroitic", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.btnk3{
  border: none;
  outline: none;
  padding-right: 30px;
  transition: transform 0.3s ease; 
}
.btnk3:hover{

  transform: scale(1.5); 
}

.btnk1 {
  border: none;
  outline: none;
  padding-right: 30px;
  transition: transform 0.3s ease; 
}
.btnk2{
  border: none;
  outline: none;
  padding-right: 30px;
  transition: transform 0.3s ease; 
}
.btnk2:hover {

  transform: scale(1.5); 
}
.btnk1:hover {

  transform: scale(1.5); 
}


.kartochki
{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  padding-bottom: 30px;
}

.form-control-me-2:hover {
  border-color: rgb(250, 206, 243); 
}
.btn{
  background-color: bisque;
  color: black;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: khaki;
  color: white;
}
nav{
  background-color: #fcf6ef
}
body{
  justify-content: center;
  background-color: #fcf6ef
}
.card{
  justify-content: center;
}
.card-title{
  height: 80px;
}
.card-title {
  height: 80px;
}

.carousel-image{
  object-fit: contain;
}

.card-img-top {
  object-fit: cover;
  height: 300px;
}

.carousel-inner{
  padding-bottom: 80px;
}