.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
.diva{
  display: flex;
  flex-direction: row;
  gap: 7px;

}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}
h5 {
  font-family: "Noto Sans Meroitic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.btnk{
  border: none;
  outline: none;
  padding-right: 30px;
}
.btnk:hover{
  width: 30%;
  height: 40%;
  border-color: rgb(250, 222, 250);
}
.btnk1{
  border: none;
  padding-right: 30px;
  outline: none;

}
.btnk1:hover{
  width: 5%;
  height: 20%;
  border-color: rgb(250, 222, 250);
}

.kartochki
{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  padding-bottom: 30px;
}
.btn{
  background-color: bisque;
  color: black;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: khaki;
  color: white;
}
nav{
  background-color: #fcf6ef
}
body{
  justify-content: center;
  background-color: #fcf6ef
}
.card{
  justify-content: center;
}
.card-title{
  height: 80px;
}
.card-title {
  height: 80px;
}

.carousel-image{
  object-fit: contain;
}

.card-img-top {
  object-fit: cover;
  height: 300px;
}

.carousel-inner{
  padding-bottom: 80px;
}